*{
    margin: 0;
    padding: 0;
}

/*body do cadastro*/
#cad {
    background-color: #ffffff;
}

/*index*/
/*Navbar*/
#cabecalho {
    display: flex;
    align-items: center;
    background: rgb(6, 102, 10);
    height: 15vh;
}

#cabecalho .navbar-container {
    display: flex;
	align-items: center;
	justify-content: space-between;
	width: 5vw;
    padding: 20px 0;
}

#cabecalho .navbar-container img {
	width: 17vw;
	margin-left: 1vw;
}

/*Main*/
#main_index {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Logo do Ocean Splash no index*/
#main_index #sec1 #img1 {
    margin-top: 15vh;
    border-radius: 10%;
    width: 350px;
}

/*Botões para servico online/presencial*/
#main_index .agendamento {
    background-color: rgb(0, 119, 6);
	justify-content: center;
    border: none;
    padding: 1vw;
    color: white;
	border-radius: 10vw;
	font-size: 25px;
    cursor: pointer;
	margin-top: 2vh;
}

#main_index .agendamento:hover {
    transition: 500ms ease-in-out;
    color: #ffab0e;
	cursor: pointer;
}

/*Footer*/
#footer {
	background: rgb(6, 102, 10);
	color: white;
	padding: 4vh 0;
	margin-top: 7vh;
}

#footer .footer-content {
	display: flex;
	flex-wrap: wrap;
	width: 60vw;
	margin: auto;
	justify-content: space-between;
}

#footer .footer-content .footer-menu {
	margin: 1vh 4vw;
	list-style: none;
}

#footer .footer-content .footer-menu .titulos-footer {
	font-weight: bold;
	text-transform: uppercase;
	color: #ffab0e;
	font-size: 1rem;
	cursor: pointer;
}

#footer .footer-content .footer-menu .footer-menu-item {
	margin: 1vw 0;
    cursor: pointer;
	font-size: 1rem;
	
}

/*Footer Info*/
.footer-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 55vw;
	margin: 0 22.5vw;
	font-weight: bold;
	color: #ffab0e;
	font-size: 0.9rem;
	padding-top: 3vh;
}

.footer-info .footer-info-items {
	display: flex;
	list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
    margin: 1.5vh 1.5vw;
	cursor: pointer;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
    transition: all 500ms ease;
	color: #ffab0e;
	cursor: pointer;
}

.footer-info .icones .country {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1vw;
}

.footer-info .icones .country {
    cursor: pointer;
}

.footer-info .icones .country .brazil-flag {
	height: 2vh;
	width: auto;
	display: inline-block;
	margin-left: 0.5vw;
}

/*Cadastro*/
.cadastro {
	width: 35vw;
	margin-top: 100px;
    margin-left: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    background-color: #fff;
    box-shadow: 2vw 3vh rgba(6, 6, 6, 0.141);
}

.cadastro-cabeçalho {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 1.5rem;
}

/*Dados do usuário*/
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box-file {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;

}

.input-box-file input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box-age {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box-age input{
    margin: 0.6rem 0;
    padding: 0.8rem 2.7rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input #age-student{
    margin: 0.6rem 0;
    padding: 15rem 5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;

}

.input-box select{
    margin: 0.6rem 0;
    padding: 0.8rem 0.7rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box-age input:focus-visible {
    outline: 2px solid rgb(0, 119, 6);
}

.input-box input:focus-visible {
    outline: 2px solid rgb(0, 119, 6);
}

.input-box input::placeholder {
    color: #000000be;
	font-size: 0.75rem;
}

/*Dados do gênero do usuário*/
.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-title h6 {
    font-size: 1.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
    cursor: pointer;
}

/*Dados de PcD do usuário*/
.deficiencia-group {
    display: flex;
    flex-direction: row;
    margin-top: 0.62rem;
    padding: 0 .4rem;
}

.deficiencia-title h6 {
    margin-top: 25px;
    font-size: 1.5rem;
}

.deficiencia-input label {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
    cursor: pointer;
    padding: 0 5px;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: rgb(0, 119, 6);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: rgb(1, 93, 6);
}

.continue-button button {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

/*Dados do cadastro*/
@media screen and (max-width: 1064px) {
    
    .cadastro {
        width: auto;
        margin-left: 0.1vw;
    }

    .input-group{
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}
