* {
    font-family: "Roboto";
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

.header {
    height: 5rem;
    background-color: #a2d2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header img {
    width: 14rem;
}

main {
    padding: 1rem;
}

h1 {
    margin-bottom: 1rem;
}

.about__us {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services ul {
    padding-left: 2rem;
}

.services ul li{
    list-style-type: initial;
}

.request__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request__btn button {
    width: 8rem;
    height: 3rem;
    font-size: 16px;
    font-weight: 500;
    background-color: #a2d2ff;
    border: 2px solid #a2d2ff;
    border-radius: 10px;
    cursor: pointer;
}

.request__btn button:hover {
    background-color: #bde0fe;
}

.request__btn button a {
    color: #000000;
}

.footer {
    width: 100%;
    height: 6rem;
    padding: 1rem 0rem;
    background-color: #333333;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__infos {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
}

.footer__infos li a {
    color: #E0E0E0;
    text-decoration: none;
    cursor: pointer;
}

.footer__infos li a:hover {
    color: #828282;
}

.footer p {
    font-size: 16px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.footer p span {
    font-size: 14px;
}

@media (min-width: 600px) {
    .header {
        padding-left: 3rem;
        align-items: flex-start;
    }
}

@media (min-height: 670px) {
    .footer {
        position: fixed;
        bottom: 0;
    }
}

@media (min-width: 730px) {

    .footer {
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
    }

    .footer__infos {
        margin-bottom: 0;
    }

    .footer p {
        display: block;
    }
} 